.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 139, 139, 0.1);
  }
  
  .company-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px rgba(255, 139, 139, 0.5);
  border: 1px solid rgb(254, 149, 149);
  margin: 10px;
  background-color: rgba(255, 139, 139, 0.2);
  }
  
  .company-info {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  }
  
  .company-name {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 139, 139);
  }
  
  .details-container {
  border: 1px solid rgb(255, 139, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(255, 139, 139, 0.3);
  margin-top: 10px;
  background-color: rgba(255, 139, 139, 0.1);
  }
  
  .details-info {
  font-size: 18px;
  margin: 10px 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  button {
  background-color: rgb(255, 139, 139);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  }
  
  button0 {
  margin-left: auto;
  background-color: rgb(255, 139, 139);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  }